[project]
name = "leros2"
version = "0.1.0"
description = "LeRobot ROS2 interfaces"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "black>=25.11.0",
    "cv-bridge>=1.13.0.post0",
    "draccus>=0.10.0",
    "lerobot>=0.4.2",
    "numpy>=2.2.6",
]

[tool.uv.workspace]
members = ["examples/*"]

[build-system]
requires = ["uv_build>=0.9.10,<0.10.0"]
build-backend = "uv_build"

[tool.uv.build-backend]
module-name = "leros2"
module-root = "src"

[project.scripts]
leros2-convert = "leros2.scripts.convert:main"
